@import "../fonts/fontello/css/fontello.css";
/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Single.php
----------------------------------------- */
#content.inner .post .meta.author {
	font-size: 2.1875em;
	font-weight: 300;
	padding-bottom: 10px;
	color:#fff;
	font-size:2em;
}
.single #content.inner .post h2.univers {
	font-size:3em;
}
a.blog-title {
	color:#fff ;
}
a.blog-title:hover {
	color:#efefef ;
}
.next-prev a {
	display:block;
	margin:10px 0;
}

/* -----------------------------------------
   All Pages
----------------------------------------- */
.special-reservations {
	display: block;
	text-indent: -9999999em;
	/*position: absolute;*/
	/*top: -82px;*/
	/*height: 151px;*/
	width: 225px;
	background: url('../images/zipzone_badge_final.png') no-repeat;
	-webkit-transition:200ms all linear;
	-moz-transition:200ms all linear;
	-ms-transition:200ms all linear;
	-o-transition:200ms all linear;
	transition:200ms all linear;
}
.special-reservations:hover {
	top: -93px;
}

.block-grid.six-up { margin-left: -1.5% }
.block-grid.six-up>li { margin-left: 1.5%; width: 15.5%; margin-bottom: 1.5%;}

.header-tabs {
	position: absolute;
	width: 125px;
	right:0;
}

.header-contact {
	color:#efefef;
	font-size:.8em;
	padding:.3em;
}

.header-contact a {
	color:inherit;
	padding:.25em 1em;
	transition:all 100ms;
}

.header-contact a:hover {
	color:#f27727;
}

.icon-menu-item {
	display:flex;
}

.button {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background: #35aeef;
    border: 1px solid #7acaf4;
    outline: 5px solid #35aeef;
    display: inline-block;
    text-align: center;
    padding: 5px;
    transition: all 0.2s;
    letter-spacing: 1px;
    margin: 5px;
}
.inner .button {
	min-width: 240px;
	margin-left: 5px;
}
.button.orange {
	background: #f27727;
	outline-color: #f27727;
	border-color: #f2a771;
	color: white !important;
}
.button.orange.blue {
	background: #35aeef;
	outline-color: #35aeef;;
	border-color: #7acaf4;
	color: white !important;
}
.button.orange.blue span {
	color: #1e658b;
}
.button.orange.blue:hover {
	background: white;
	outline-color: white;
	border-color: #7acaf4;
	color: #35aeef !important;
	text-decoration: none !important;
}
.button:hover {
	background-color: #4bb6ef;
	outline-color: #4bb6ef;
	text-decoration: none !important;
}
.button.orange:hover {
	background-color: #fe7e2b;
	outline-color: #fe7e2b;
}
.button span, .xola-custom span {
	color: #1e658b;
	float: right;
	font-size: 16px;
}
.button.orange span {
	color: #a5551a;

}
#clouds .header-tabs .button {
	font-size: 16px;
	font-weight: 400;
	display: block;
	color: white;
}
#clouds .header-tabs .button:hover {
	background-color: #4bb6ef;
	outline-color: #4bb6ef;
}
#clouds .header-tabs .button.orange:hover {
	background-color: #fe7e2b;
	outline-color: #fe7e2b;
}
.header-tabs .button + .button {
	margin-top: 20px;
}
#clouds .header-tabs .tab {
	background: #00b2ee;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	display: block;
	padding: 0.5em 1em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
	text-shadow: 0 0 1px rgba(0,0,0,0.75);
	position: absolute;
	bottom: 0;
	width: auto;
	-webkit-transition:200ms all linear;
	-moz-transition:200ms all linear;
	-ms-transition:200ms all linear;
	-o-transition:200ms all linear;
	transition:200ms all linear;
}
#clouds .header-tabs .tab:hover {
	padding-bottom: 0.7em;
}
#clouds .header-tabs .tab.alt {
	background-color: #b3c16f;
}
#clouds .header-tabs .tab.right {
	right: 0;
}

#clouds {
	padding-bottom: 0;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */

#content.inner > .row > .eight.columns,
#content.inner > .row > .four.columns {
	padding-top: 50px;
}
#content.inner h2:first-child {
	padding-top: 0;
}
.page-id-26 #content.inner h2 {
	padding-top: 0;
}
.page-id-26 #content.inner h2:first-child {
	border: none;
}
hr {
	display: block;
	margin: 25px 0;
	border: none;
	height: 3px;
	background: url('../images/bar.png') repeat-x 0 0;
	clear: both;
}


@media screen and (max-width: 720px) {
	#clouds #logo {
		height: auto !important;
	}
}
