
/* GENERAL STYLING */
.gform_wrapper li.gfield.gfield_error input, .gform_wrapper li.gfield.gfield_error textarea{


}

.content-container .gform_wrapper .ginput_container input { margin-bottom: 0px;}
.gform_wrapper .validation_message {  }
.gform_wrapper li.gfield.gfield_error .validation_message {}
.gform_wrapper .gfield { }

.validation_error, #gforms_confirmation_message { font-size:1.3em; margin-bottom: 1em; padding-top: 1em;}

.gform_heading {
	display:none;
}
.gform_body {
	clear:both;
}
.gform_body ul {clear:both;}


.gform_footer {
	clear:both;
}

.gform_wrapper .top_label li.gsection {

}

#content.inner .gform_wrapper ul li { padding: 0; background: none;}
.gform_wrapper .gfield_label { display:none;}



.gfield_description, .gform_wrapper .instruction  {
	color: #B6B6B6;
	font-size: 14px;
	line-height: 24px;
	font-family: "proxima-nova",sans-serif;
}


.gfield_description.validation_message { color: #f48120;}

#contactform .gfield_error input, #contactform .gfield_error textarea  {border:1px solid #f48120;}


/* ============================================================================ */
/* ! CSS Ready Classes ------------------------------------------------------   */
/* ============================================================================ */

/* inline fields ready class ------------------------------------------------------*/

.gform_wrapper .top_label li.gfield.gf_inline {
	vertical-align: top;
	width: auto !important;
	margin-right: 14px;
	float: none !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}
.gform_wrapper .top_label li.gfield.gf_inline input[type=text].large,
.gform_wrapper .top_label li.gfield.gf_inline input[type=url].large,
.gform_wrapper .top_label li.gfield.gf_inline input[type=email].large,
.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].large,
.gform_wrapper .top_label li.gfield.gf_inline input[type=number].large,
.gform_wrapper .top_label li.gfield.gf_inline input[type=password].large {
	width: 25.4em !important
}
.gform_wrapper .top_label li.gfield.gf_inline input[type=text].medium,
.gform_wrapper .top_label li.gfield.gf_inline input[type=url].medium,
.gform_wrapper .top_label li.gfield.gf_inline input[type=email].medium,
.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].medium,
.gform_wrapper .top_label li.gfield.gf_inline input[type=number].medium,
.gform_wrapper .top_label li.gfield.gf_inline input[type=password].medium {
	width: 18.7em !important
}
.gform_wrapper .top_label li.gfield.gf_inline input[type=text].datepicker.medium {
	width: 6em !important
}
.gform_wrapper .top_label li.gfield.gf_inline input[type=text].small,
.gform_wrapper .top_label li.gfield.gf_inline input[type=url].small,
.gform_wrapper .top_label li.gfield.gf_inline input[type=email].small,
.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].small,
.gform_wrapper .top_label li.gfield.gf_inline input[type=number].small,
.gform_wrapper .top_label li.gfield.gf_inline input[type=password].small {
	width: 5em !important
}
.gform_wrapper .top_label li.gfield.gf_inline select  {
	width: auto !important
}
.gform_wrapper .top_label li.gfield.gf_inline textarea {
	width: 95% !important
}
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_time_hour input[type=text],
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_time_minute input[type=text] {
	width: 70% !important
}
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_time_hour,
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_time_minute,
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_date_month,
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_date_day,
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_date_year {
	width: 50px
}
.gform_wrapper .top_label li.gfield.gf_inline div.gfield_time_ampm {
	width: auto
}
.gform_wrapper li.gf_inline div.ginput_container {
	white-space: nowrap !important
}

/* 2 column ready class ------------------------------------------------------*/

.gform_wrapper .top_label li.gfield.gf_left_half {
	margin: 0 0 8px 0;
	width: 48.5%
}
.gform_wrapper .top_label li.gfield.gf_right_half {
	margin: 0 0 8px 0;
	width: 49%
}
/*
.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half,
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
	width: 46%
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
	margin-right: 1%
}*/
.gform_wrapper .top_label li.gfield.gf_left_half {
	float: left;
	clear: left !important
}
.gform_wrapper .top_label li.gfield.gf_right_half {
	float: right;
	clear: right !important
}
.gform_wrapper .top_label li.gfield.gf_left_half input.medium,
.gform_wrapper .top_label li.gfield.gf_left_half input.large,
.gform_wrapper .top_label li.gfield.gf_left_half select.medium,
.gform_wrapper .top_label li.gfield.gf_left_half select.large,
.gform_wrapper .top_label li.gfield.gf_right_half input.medium,
.gform_wrapper .top_label li.gfield.gf_right_half input.large,
.gform_wrapper .top_label li.gfield.gf_right_half select.medium,
.gform_wrapper .top_label li.gfield.gf_right_half select.large {
	width: 90%
}
.gform_wrapper .top_label li.gfield.gf_left_half select.medium,
.gform_wrapper .top_label li.gfield.gf_left_half select.large,
.gform_wrapper .top_label li.gfield.gf_right_half select.medium,
.gform_wrapper .top_label li.gfield.gf_right_half select.large {
	width: 101%
}
.gform_wrapper .top_label li.gfield.gf_left_half textarea,
.gform_wrapper .top_label li.gfield.gf_right_half textarea {
	width: 90%
}
.gform_wrapper .top_label li.gfield.gf_left_half input.small,
.gform_wrapper .top_label li.gfield.gf_right_half input.small {
	width: 35%
}
.gform_wrapper .top_label li.gfield.gf_left_half+li.gsection,
.gform_wrapper .top_label li.gfield.gf_right_half+li.gsection {
	padding: 16px 0 8px 0
}
.gform_wrapper .top_label li.gfield.gf_left_half+li.gfield.gsection.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half+li.gfield.gsection.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_left_half+li.gfield.gsection.gf_right_half,
.gform_wrapper .top_label li.gfield.gf_right_half+li.gfield.gsection.gf_right_half,
.gform_wrapper .top_label li.gfield.gsection.gf_left_half+li.gfield.gsection.gf_left_half,
.gform_wrapper .top_label li.gfield.gsection.gf_right_half+li.gfield.gsection.gf_left_half,
.gform_wrapper .top_label li.gfield.gsection.gf_right_half+li.gfield.gsection.gf_right_half {
	padding: 16px 0 8px 0
}
.gform_wrapper .top_label li.gfield.gsection.gf_left_half+li.gfield.gsection.gf_right_half {
	padding: 0 0 8px 0
}
.gform_wrapper .top_label li.gfield.gsection.gf_left_half+li.gfield.gsection.gf_right_half+li.gfield.gsection.gf_left_half+li.gfield.gsection.gf_right_half {
	padding: 16px 0 8px 0
}
.gform_wrapper .top_label li.gfield.gf_left_half+li.gfield,
.gform_wrapper .top_label li.gfield.gf_right_half+li.gfield,
.gform_wrapper .top_label li.gfield.gf_left_half+.gform_footer,
.gform_wrapper .top_label li.gfield.gf_right_half+.gform_footer {
	clear: both
}

/* 3 column ready class 1+2 -----------------------------------------  CUSTOM */
.gform_wrapper .top_label li.gfield.gf_left_third_custom {
	margin: 0 0 8px 0;
	width: 46%
}

.gform_wrapper .top_label li.gfield.gf_middle_third_custom,
.gform_wrapper .top_label li.gfield.gf_right_third_custom {
	margin: 0 0 8px 0;
	width: 25%;
}

.gform_wrapper .top_label li.gfield.gf_middle_third_custom{
	width:25% !important;
}

.content-container .gform_wrapper .top_label li.gf_middle_third_custom.mi {
	width:3%;
}
.content-container .gform_wrapper .top_label li.gf_middle_third_custom.mi input.medium {
	width:100%;
}
.content-container .gform_wrapper .top_label li.gf_right_third_custom.micomplement {
	width:40%;
}
.content-container .gform_wrapper .top_label li.gf_right_third_custom.micomplement input.medium {
	width:88%;
}



.gform_wrapper .top_label li.gfield.gf_right_third_custom{
	width: 24%;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_right_third {
	margin-right: 1%;
}
.gform_wrapper .top_label li.gfield.gf_left_third_custom {
	float: left;
	clear: left !important;
}
.gform_wrapper .top_label li.gfield.gf_middle_third_custom {
	float: left;
	margin-left: 5%;
	clear: none !important;
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third_custom {
	margin-left: 5%;
}
.gform_wrapper .top_label li.gfield.gf_right_third_custom {
	float: right;
	clear: right !important
}


.gform_wrapper .top_label li.gfield.gf_left_third_custom input.small{
	width:95%;
}


/* Rewrite main styles */
.content-container .gform_wrapper input.small { width:76%;}
.content-container .gform_wrapper select.small { width:100%;}

#contactform .gform_wrapper .top_label li.gfield.gf_left_third_custom input.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_left_third_custom input.large,
#contactform .gform_wrapper .top_label li.gfield.gf_left_third_custom select.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_left_third_custom select.large,
#contactform .gform_wrapper .top_label li.gfield.gf_middle_third_custom input.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_middle_third_custom input.large,
#contactform .gform_wrapper .top_label li.gfield.gf_middle_third_custom select.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_middle_third_custom select.large,
#contactform .gform_wrapper .top_label li.gfield.gf_right_third_custom input.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_right_third_custom input.large,
#contactform .gform_wrapper .top_label li.gfield.gf_right_third_custom select.medium,
#contactform .gform_wrapper .top_label li.gfield.gf_right_third_custom select.large
{
	width: 95%
}

#contactform .gform_wrapper .top_label li.gfield.gf_middle_third_custom select.medium{

}

#contactform .gform_wrapper .top_label li.gfield.gf_right_third_custom input.medium
{
	width: 77%
}

.gform_wrapper .top_label li.gfield.gf_left_third_custom+li.gsection,
.gform_wrapper .top_label li.gfield.gf_right_third_custom+li.gsection {
	padding: 16px 0 8px 0
}


.gform_image_button { float:right; clear:both;}


/* 3 column ready class ------------------------------------------------------*/

.gform_wrapper .top_label li.gfield.gf_left_third,
.gform_wrapper .top_label li.gfield.gf_middle_third,
.gform_wrapper .top_label li.gfield.gf_right_third {
	margin: 0 0 8px 0;
	width: 32%
}

.gform_wrapper .top_label li.gfield.gf_left_third input.small,
.gform_wrapper .top_label li.gfield.gf_middle_third input.small,
.gform_wrapper .top_label li.gfield.gf_right_third input.small,
.gform_wrapper .top_label li.gfield.gf_left_third select.small,
.gform_wrapper .top_label li.gfield.gf_middle_third select.small,
.gform_wrapper .top_label li.gfield.gf_right_third select.small
{
	width: 5em;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_third,
.gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third,
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_third {
	width: 29%
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_third {
	margin-right: 1%
}
.gform_wrapper .top_label li.gfield.gf_left_third {
	float: left;
	clear: left !important
}
.gform_wrapper .top_label li.gfield.gf_middle_third {
	float: left;
	margin-left: 2%;
	clear: none !important
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third {
	margin-left: 3%
}
.gform_wrapper .top_label li.gfield.gf_right_third {
	float: right;
	clear: right !important
}
.gform_wrapper .top_label li.gfield.gf_left_third input.medium,
.gform_wrapper .top_label li.gfield.gf_left_third input.large,
.gform_wrapper .top_label li.gfield.gf_left_third select.medium,
.gform_wrapper .top_label li.gfield.gf_left_third select.large,
.gform_wrapper .top_label li.gfield.gf_middle_third input.medium,
.gform_wrapper .top_label li.gfield.gf_middle_third input.large,
.gform_wrapper .top_label li.gfield.gf_middle_third select.medium,
.gform_wrapper .top_label li.gfield.gf_middle_third select.large,
.gform_wrapper .top_label li.gfield.gf_right_third input.medium,
.gform_wrapper .top_label li.gfield.gf_right_third input.large,
.gform_wrapper .top_label li.gfield.gf_right_third select.medium,
.gform_wrapper .top_label li.gfield.gf_right_third select.large {
	width: 95%
}
.gform_wrapper .top_label li.gfield.gf_left_third+li.gsection,
.gform_wrapper .top_label li.gfield.gf_right_third+li.gsection {
	padding: 16px 0 8px 0
}
.gform_wrapper .top_label li.gfield.gf_left_third+li.gfield,
.gform_wrapper .top_label li.gfield.gf_middle_third+li.gfield,
.gform_wrapper .top_label li.gfield.gf_right_third+li.gfield,
.gform_wrapper .top_label li.gfield.gf_left_third+.gform_footer,
.gform_wrapper .top_label li.gfield.gf_middle_third+.gform_footer,
.gform_wrapper .top_label li.gfield.gf_right_third+.gform_footer {
	clear: both
}

/* radio/checkbox sub-column ready classes ------------------------------------------------------*/

.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li,
.gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_2col ul.gfield_radio li {
	width: 50%;
	float: left;
	margin: 0 0 8px 0;
	min-height: 1.8em
}
.gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li,
.gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_3col ul.gfield_radio li {
	width: 33%;
	float: left;
	margin: 0 0 8px 0;
	min-height: 1.8em
}
.gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
	width: 25%;
	float: left;
	margin: 0;
	min-height: 1.8em
}
.gform_wrapper li.gfield.gf_list_5col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_5col ul.gfield_radio li {
	width: 20%;
	float: left;
	margin: 0;
	min-height: 1.8em
}
.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio,
.gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_list_3col ul.gfield_radio,
.gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_list_4col ul.gfield_radio,
.gform_wrapper li.gfield.gf_list_5col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_list_5col ul.gfield_radio,
.gform_wrapper li.gfield.gf_2col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_2col ul.gfield_radio,
.gform_wrapper li.gfield.gf_3col ul.gfield_checkbox,
.gform_wrapper li.gfield.gf_3col ul.gfield_radio {
	overflow: hidden
}

/* optional height settings for the radio/checkbox columns */

.gform_wrapper li.gfield.gf_list_height_25 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_25 ul.gfield_radio li {
	height: 25px
}
.gform_wrapper li.gfield.gf_list_height_50 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_50 ul.gfield_radio li {
	height: 50px
}
.gform_wrapper li.gfield.gf_list_height_75 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_75 ul.gfield_radio li {
	height: 75px
}
.gform_wrapper li.gfield.gf_list_height_100 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_100 ul.gfield_radio li {
	height: 100px
}
.gform_wrapper li.gfield.gf_list_height_125 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_125 ul.gfield_radio li {
	height: 125px
}

.gform_wrapper li.gfield.gf_list_height_150 ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_height_150 ul.gfield_radio li {
	height: 150px
}

/* radio/checkbox inline list ready classes ------------------------------------------------------*/

.gform_wrapper li.gf_list_inline ul.gfield_checkbox li,
.gform_wrapper li.gf_list_inline ul.gfield_radio li {
	width: auto !important;
	float: none !important;
	margin: 0 10px 10px 0;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

/* hide am/pm field ready class ------------------------------------------------------*/

.gform_wrapper li.gf_hide_ampm div.gfield_time_ampm {
	display: none !important
}

/* scrolling text section break ready class ------------------------------------------------------*/

.gform_wrapper li.gsection.gf_scroll_text {
	height: 180px;
	width: 96%;
	overflow: auto;
	border: 1px solid #CCC;
	border-bottom: 1px solid #CCC !important
}
.gform_wrapper li.gsection.gf_scroll_text h2.gsection_title {
	margin: 10px 10px 0 10px !important
}
.gform_wrapper li.gsection.gf_scroll_text .gsection_description {
	margin: 10px;
	font-size: 0.8em
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ul li,
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ul li {
	list-style-type: disc !important;
	margin: 0 0 0.5em;
	overflow: visible;
	padding-left: 0
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ul,
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ul {
	list-style-type: disc !important;
	margin: 1em 0 1em 1.5em;
	padding-left: 0
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li,
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li {
	list-style-type: decimal!important;
	overflow:visible;
	margin: 0 0 0.5em;
	padding-left: 0
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol,
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol {
	list-style-type: decimal!important;
	margin: 1em 0 1.5em 2.0em;
	padding-left: 0
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li ul,
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li ul li {
    list-style-type: disc !important;
    padding-left: 0;
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li ul {
	margin: 1em 0 1em 1.5em;
}
.gform_wrapper form div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description ol li ul li {
	margin: 0 0 0.5em;
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description dl {
	margin: 0 0 1.5em 0;
	padding-left: 0
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description dl dt {
	font-weight: bold
}
.gform_wrapper div.gform_ul.gform_fields li.gfield.gsection.gf_scroll_text div.gsection_description dl dd {
	margin: 0 0 1em 1.5em;
}

/* HTML field alert style ready classes  ------------------------------------------------------*/

.gform_wrapper li.gfield.gfield_html.gf_alert_green,
.gform_wrapper li.gfield.gfield_html.gf_alert_red,
.gform_wrapper li.gfield.gfield_html.gf_alert_yellow,
.gform_wrapper li.gfield.gfield_html.gf_alert_gray,
.gform_wrapper li.gfield.gfield_html.gf_alert_blue {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 20px 0 !important;
	padding: 20px !important
}
.gform_wrapper li.gfield.gfield_html.gf_alert_green {
	border: 1px solid #97B48A;
	background-color: #CBECA0;
	text-shadow: #DFB 1px 1px;
	color: #030
}
.gform_wrapper li.gfield.gfield_html.gf_alert_red {
	border: 1px solid #CFADB3;
	background-color: #FAF2F5;
	text-shadow: #FFF 1px 1px;
	color: #832525
}
.gform_wrapper li.gfield.gfield_html.gf_alert_yellow {
	border: 1px solid #E6DB55;
	background-color: #FFFBCC;
	text-shadow: #FCFAEA 1px 1px;
	color: #222
}
.gform_wrapper li.gfield.gfield_html.gf_alert_gray {
	border: 1px solid #CCC;
	background-color: #EEE;
	text-shadow: #FFF 1px 1px;
	color: #424242
}
.gform_wrapper li.gfield.gfield_html.gf_alert_blue {
	border: 1px solid #a7c2e7;
	background-color: #D1E4F3;
	text-shadow: #E0F1FF 1px 1px;
	color: #314475
}

/* credit card icons ------------------------------------------------------*/

.gform_wrapper .gform_card_icon_container {
	margin: 8px 0 6px 0;
	height: 32px
}
.gform_wrapper div.gform_card_icon {
	margin-right: 4px;
	text-indent: -9000px;
	background-image: url(../images/gf_creditcard_icons.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
	float:left
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px 0
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -32px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -64px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -256px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -256px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -256px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -256px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -256px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px -192px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -224px
}
.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -256px
}

/* credit card fields ------------------------------------------------------*/

.gform_wrapper .ginput_complex .ginput_cardinfo_left,
.gform_wrapper .ginput_complex .ginput_cardinfo_right {
	min-height: 43px;
	position: relative;
	float: left
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left {
	width: 50%;
	margin-right: 1%
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right {
	min-width: 85px !important
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left label,
.gform_wrapper .ginput_complex .ginput_cardinfo_right label {
	white-space: nowrap !important
}
.gform_wrapper .ginput_complex span.ginput_cardextras {
	display: block;
	overflow: hidden
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left span.ginput_card_expiration_container {
	position: relative;
	display: block;
	min-width: 160px !important
}
.gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_month,
.gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_year {
	width: 48% !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}
.gform_wrapper .ginput_complex .ginput_cardinfo_left select.ginput_card_expiration.ginput_card_expiration_month {
	margin-right: 4px
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right input.ginput_card_security_code {
	max-width: 50% !important
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
	width: 32px;
	height: 23px;
	background-image: url(../images/gf_creditcard_icons.png);
	background-repeat: no-repeat;
	background-position: 0 -128px;
	position: relative;
	top: -1px;
	left: 6px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}


/* jQuery UI date picker ------------------------------------------------------*/

#ui-datepicker-div table { border:none;}

.ui-datepicker-div,
.ui-datepicker-inline,
#ui-datepicker-div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 1em;
	list-style: none;
	font-family: "lucida sans", "lucida grande", lucida , sans-serif;
	background-color: #FFF;
	font-size: 1em;
	border: 1px solid #C1C1C1;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative
}
.ui-datepicker-div,
#ui-datepicker-div {
	z-index: 9999;
	display: none
}
.ui-datepicker-inline {
	float: left;
	display: block
}
.ui-datepicker-control {
	display: none
}
.ui-datepicker-current {
	display: none
}
.ui-datepicker-next,
.ui-datepicker-prev {
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	background-color: #EEE
}
.ui-datepicker-next {
	left: 14.6em
}
.ui-datepicker-next: hover,
.ui-datepicker-prev: hover {
	background-color: #DADADA
}
.ui-datepicker-next a,
.ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background-image: url(../images/datepicker_arrow_left.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid #d3d3d3;
	cursor: pointer
}
.ui-datepicker-next a {
	background-image: url(../images/datepicker_arrow_right.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat
}
.ui-datepicker-header select {
	border: 1px solid #D3D3D3;
	color: #555;
	background-color: #E6E6E6;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: 0.5em;
	margin: 0 !important
}
.ui-datepicker-header option: focus,
.ui-datepicker-header option: hover {
	background-color: #DADADA
}
.ui-datepicker-header select.ui-datepicker-new-month {
	width: 7em;
	left: 2.2em
}
.ui-datepicker-header select.ui-datepicker-new-year {
	width: 5em;
	left: 9.4em
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right
}
table.ui-datepicker td a {
	padding: .1em;
	display: block;
	color: #555;
	background-color: #E6E6E6;
	cursor: pointer;
	margin: 1px;
	text-align: center;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding:1px 3px;
}
table.ui-datepicker td a: hover {
	border: 1px solid #FFF;
	color: #212121;
	background-color: #DADADA;
	text-decoration: none
}
table.ui-datepicker td a: active {
	border: 1px solid #AAA;
	color: #212121;
	background-color: #FFF;
	text-decoration: none
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .2em 0;
	text-align: center;
	font-size: 0.9em;
	color: #222;
	text-transform: uppercase
}
table.ui-datepicker .ui-datepicker-title-row td a {
	color: #222;
	padding: 0.3em 0
}
.ui-datepicker-cover {
	display: none;
	display: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px
}
img.ui-datepicker-trigger {
	cursor: pointer;
	vertical-align: top;
	width: 17px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}
.gform_wrapper input.datepicker.datepicker_with_icon {
	margin-right: 4px !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

/* tame those pesky hidden fields ------------------------------------------------------*/

.gform_wrapper input[type=hidden],
.gform_wrapper input.gform_hidden,
.gform_wrapper .gform_hidden,
.gform_wrapper .gf_hidden {
	display: none !important;
	max-height: 1px !important;
	overflow: hidden
}
.gform_wrapper .ginput_full br,
.gform_wrapper .ginput_left br,
.gform_wrapper .ginput_right br {
	display: none !important
}