/*-------------------------------------------------------*\
    Colors
/*-------------------------------------------------------*/

/* Main Theme Colors */
$primary-color: #85b6d6;
$secondary-color: #58595b;
$tertiary-color: #e1af61;
$quaternary-color: #cf6174;

/* Theme Color Variations */
$primary-color-dull: #85b6d4;

/* Alert Colors */
$error-color: rgba(#ff2020, 0.5);
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);
$black-transparent: rgba(black, 0.5);
$medium-gray: #838385;
$neutral-color: $medium-gray;
$soft-gray: #959597;
$light-gray: #dddddd;
$lightest-gray: #f4f4f4;
$dark-bg-color: #5a6970;
$light-text-gray: #a7a7a7;
$light-gray-bg: #f7f7f7;

/* Generic Defaults */
$error-color: rgba(#ff2020, 0.5);