/*-------------------------------------------------------*\
    Fonts
/*-------------------------------------------------------*/

/* Sizes */
$base-font-size: 16px;

/* Families */
$sans-serif: 'DINPro', helvetica, sans-serif;
$body-font: 'OpenSans', helvetica, sans-serif;
$font-family: $sans-serif;
$serif: serif;

/* Weights */
$normal: 300;
$bold: 700;

/* Font Faces Definitions */
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/din/DINPro-Light.eot');
    src: url('../fonts/din/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/din/DINPro-Light.woff2') format('woff2'), url('../fonts/din/DINPro-Light.woff') format('woff'), url('../fonts/din/DINPro-Light.ttf') format('truetype'), url('../fonts/din/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/din/DINPro-Bold.eot');
    src: url('../fonts/din/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/din/DINPro-Bold.woff2') format('woff2'), url('../fonts/din/DINPro-Bold.woff') format('woff'), url('../fonts/din/DINPro-Bold.ttf') format('truetype'), url('../fonts/din/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: $bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSans-Regular-webfont') format('svg');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSans-Bold-webfont') format('svg');
    font-weight: $bold;
    font-style: normal;
}
