/*-------------------------------------------------------*\
    Helpers
/*-------------------------------------------------------*/

.inline-block-grid {
    @include break-at($tiny-break) {
        display: inline-block;
        margin: 0 auto;
    }


    > li {
        @include break-at($tiny-break) {
            display: inline-block;
            height: auto;
            float: none;
        }
        @include break-max-at($tiny-break) {
            width: 100%;
            clear: both;
        }
    }
}

.inline-table {
    @include break-at($tiny-break) {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    > li {
        @include break-at($tiny-break) {
            display: inline-block;
            height: auto;
            float: none;
        }
        @include break-max-at($tiny-break) {
            width: 100%;
            clear: both;
        }
    }
}