/*
Theme Name: Zip Zone: Adventure Park
Theme URI: http://zipzonetours.com/
Description: Zip Tone Adventure Park Wordpress Theme
Author: Atomic Interactive / Cement Marketing
Version: 0.9
*/


html {
	font: normal 100% Helvetica, Arial, sans-serif;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	background: #3e3e3e;
	font: normal 100% Helvetica, Arial, sans-serif;
	font-family: Helvetica, Arial, sans-serif;
}
body.wp-editor {
	background: #fff;
}
img {
	border: none;
}
.gotham {
	font-family: "proxima-nova-alt", sans-serif;
}
.univers {
	font-family: "prenton-ultra-condensed",sans-serif;
	font-weight: 400 !important;
}
.wf-loading {
	/* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
}
.container {
	padding: 0px;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.float-right, .alignright  {
	float: right;
}
.float-left, .alignleft  {
	float: left;
}

.aligncenter {
	text-align: center;
	margin:0 auto;
}


.clear {
	clear: both;
}
.hide {
	display: none;
}
.block-grid {
	overflow: visible;
}
.block-grid.five-up {
	margin-left: 0px;
}
.orange {
	color: #f38527 !important;
}
.white, .orange.white  {
	color: #FFF !important;
}

.orange img {
	margin-left: 10px;
	margin-bottom: -1px !important;
}
.texture {
	background: transparent url(images/texturebg.png) repeat;
}
img.notexture.texture { background:none !important; padding: 0; margin: 0;}
.tinytexture {
	background: transparent url(images/texturebg.png) repeat;
	height: 5px;
	margin-top: 30px;
}
.texture-bar {
	width: 300px;
	height: 14px;
	margin-bottom: 5px;
}

#left-tree {
	position: fixed;
	z-index: 9999;
	left: 0px;
	top: 0px;
}

#right-tree {
	position: fixed;
	z-index: 9999;
	right: 0px;
	top: 0px;
}

#clouds {
	background: #dae8ef url(images/clouds.jpg) repeat-x;
	padding: 15px;
}

#clouds p, #clouds a {
	font-size: .875em;
	text-transform: uppercase;
	font-weight: bold;
	color: #404040;
}

#clouds .text-right, #clouds .text-left {
	margin-top: 8.207%;
}

.nav-section {
	background-color:#f27727;
	z-index: 99999;
    position: relative;
}


#nav ul li {
	text-align: center;
	padding: 0;
	position:relative;
	z-index:9999;
	margin:0;
}

#nav ul li a {
	color: #FFF;
	font-size: 1.25em;
	text-transform: uppercase;
	line-height: 25px;
	padding: 15px 5px;
}




#nav ul li a img {
	position: relative;
	height:1em;
	padding-right:5px;
}



#nav ul li a .ground-shadow {
	height: 3px;
	width: 1em;
	margin: auto;
	opacity: 0;
	moz-box-shadow: 0px 4px 3px black;
	-webkit-box-shadow: 0px 4px 3px black;
	box-shadow: 0px 4px 3px black;
	margin-top: -5px;
	position: relative;
	z-index: 99;
}

.badge { position:absolute; top:19%; right:2%; z-index: 100; }

#banner .bannerimg { width:100%; position:absolute; left:0; top:0;}

#bannerWrap { overflow: hidden; width:100%; position: relative; margin: 0; padding:0;	}

#bannerWrap img {
	display:block;
}

.banner-cta {
	background:#f27727;
	color:#fff;
	width:100%;
	padding:.5em;
	display:block;
	font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 900;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align:center;
	transition:all 150ms;
}

.banner-cta:hover {
	background-color:#fe7e2b;
	color:#fff;
}

#banner {
	/*max-height: 450px; */

	height:470px;
	width: 1900px;
	overflow: hidden;
	 position: relative;


	z-index:1;
}

#banner-headline {
	position: absolute;
	z-index: 999;
	right: 8.5%;
	/*left:42%;*/
	top: 10.6557%;
	width: 37.08888%;
	height: 73.639%;
	text-align: center;
	z-index:150;
}

#banner-headline p {
	font-size: 1.375em;
	color: white;
	moz-text-shadow: 0px 4px 3px #3f3f3f;
	-webkit-text-shadow: 0px 4px 3px #3f3f3f;
	text-shadow: 0px 4px 3px #3f3f3f;
	text-transform: uppercase;
	font-weight: bold;
}

#banner-headline h1 {
	font-size: 6.5625em;
	margin-top: 7.29%;
	color: white;
	moz-text-shadow: 0px 4px 3px #3f3f3f;
	-webkit-text-shadow: 0px 4px 3px #3f3f3f;
	text-shadow: 0px 4px 3px #3f3f3f;
	text-transform: uppercase;
	line-height: 95px;
}

#banner-headline p > img {
	position: relative;
	top: -6px;
}

#content {
	background: url(images/contentbg.png) repeat-x;
	margin-top: -6px;
	z-index: 10;
	position: relative;
}

#content a:hover {
  text-decoration: underline;
}

.blocks p {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #FFF;
	margin-top: 20px;
}

.blocks p.title {
	font-weight: bold;
	margin-bottom: 5px;
}

.blocks p.date {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	opacity: 0.3;
	margin: 0px;
}

.blocks li {
	width: 310px !important;
	margin-top: 5.2485%;
	margin-bottom: 5.2485% !important;
}

.blocks li h1 {
	width: 260px;
	padding: 20px;
	color: #FFF;
	font-size: 1.9375em;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.blocks li h1 img {
	float: right;
	padding-top: 9px;
}

.blocks .video {
	cursor: pointer;
}

.blocks .videocontent {
	display: none;
}

#inner-banner {
	background: url(images/headlinebg.png) repeat-x;
}

#inner-banner h1 {
	color: #FFF;
	font-size: 4.0625em;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 25px;
}

#content.inner {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #FFF;
	padding-bottom: 40px;
}

#content.inner p {
	font-size: 14px;
}

#content.inner img.alignright {
	margin-top:10px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#content.inner img.alignleft {
	margin-top:10px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#content.inner h2 {
	color: #FFF;
	padding-top: 50px;
	font-size: 2.1875em;
	font-weight: 300;
	padding-bottom: 10px;
}

#content.inner h3 {
	color: #FFF;
	font-size: 1.875em;
	letter-spacing: 0.03125em;
	font-weight: lighter;
	/*padding-bottom: 30px;
	margin-top: -20px;*/
}

#content.inner h4 {
	color: #FFF;
	font-size: 1.5625em;
	font-weight: lighter;
	margin-top: -20px;
}

#content.inner img.texture {
	padding: 5px;
	background: transparent url(images/texturebg.png) repeat;
}
#content.inner img.texture.notexture {
	padding:0 0 0 0 !important;
	background: none !important;
}

#content.inner ul li {
	padding-left:20px;
	background: url(images/bullet.png) no-repeat center left;
}



#content.inner .gallery {

}

#content.inner .gallery h1, #content.inner .gallery img {
	cursor: pointer;
}

#content.inner .gallery h1 {
	width: 272px;
	padding: 10px 20px;
	color: #FFF;
	font-size: 1.9375em;
	margin-bottom: 5px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 20px;
}

#content.inner .gallery h1 img {
	float: right;
	padding-top: 4px;
}

#content.inner .gallery .texture-bar {
	width: 300px;
	height: 14px;
	margin-bottom: 5px;
}

#content.inner .fullgallery {
	font-size: 1.125em;
	font-weight: bold;
	cursor: pointer;
}

#content.inner .fullgallery:hover {
	opacity: 0.8;
}

#content.inner .video-gallery {
	padding-bottom: 25px;
}

#content.inner .video-gallery img {
	margin-right: 20px;
}

#content.inner .video-gallery .title {
	font-weight: bold;
	font-size: 1.175em;
	margin-bottom: 5px;
}

#content.inner .video-gallery .date {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	opacity: 0.3;
	margin-bottom: 15px;
}

#content.inner .video-gallery .desc {
	line-height: 25px;
}

#rightnav {
	background: #e97b1e;
	width: 250px;
	border: 1px solid #c35f0b;
	border-top: 0px;
	margin-bottom: 25px;
}

#rightnav ul {
	padding: 0px;
	margin: 0px;
}

#rightnav ul li:first-child {
	background: #e97b1e url(images/rightbg.png) repeat-x; background-position: 0 61px;
}

#rightnav ul li:first-child:hover, #rightnav ul li:first-child.active {
	background: #d26b13 url(images/rightbg.png) repeat-x; background-position: 0 61px
}

#rightnav ul li {
	list-style-type: none;
	padding: 0px 30px;
	font-size: 1.625em;
	margin: 0px;
	border-top: 1px solid #e97b1e;
	border-bottom: 1px solid #e97b1e;
}

#rightnav ul li:hover, #rightnav ul li.active {
	background: #d26b13;
	border-top: 1px solid #c4600b;
	border-bottom: 1px solid #c4600b;
}

#rightnav ul li a {
	text-transform: uppercase;
	color: #FFF;
	display:block;
	padding:18px 0;

}

#callouts img {
	display: block;
}
#callouts * + a img {
	margin-top: 25px;
}
#callouts {
	margin-bottom: 15px;
}

#contactform {
	padding: 20px;
	background: transparent url(images/texturebg.png) repeat;
}

#contactform input[type=text] {
	width: 260px;
	/*padding: 15px;*/
	padding:0 15px 0 15px;
	font-size: 2.35em;
	height: 45px;
	font-family: "prenton-ultra-condensed",sans-serif;
	font-weight: lighter;
}

#contactform input#zip {
	width: 95px;
}

#contactform textarea {
	width: 600px;
	padding: 15px;
	font-family: "prenton-ultra-condensed",sans-serif;
	font-weight: lighter;
	font-size: 2.35em;
}

.chzn-container {

	vertical-align: top	!important;
}

.chzn-single {
	height: 46px !important;
	background: #FFF !important;
	font-size: 2.35em !important;
	font-family: "prenton-ultra-condensed",sans-serif !important;
	color: #a9a9a9 !important;
	font-weight: 500;
}

.chzn-container-single .chzn-drop {
	width: 158px !important;
}

.chzn-search input {
	width: 118px !important;
}

.chzn-container .chzn-results li {
	padding-left: 0px !important;
	background: none !important;
	color: #000;
}

.chzn-container .chzn-results .active-result, .chzn-container .chzn-results .highlighted {
	color: #000 !important;
}

#map iframe {
	padding: 5px;
	margin-top: 38px;
	background: transparent url(images/texturebg.png) repeat;
}

#footer {
	background: url(images/footerbg.png) #f28130 repeat-x;
	background-position-y: -10px;
	padding-top: 10px;
	background-color:#f28130 !important;
}

#footer ul li {
	margin-top: 10px;
	border-right: 3px solid #ef8b38;
	height: 20px;
}

#footer ul li:first-child {
	border-left: 3px solid #ef8b38;
}

#footer ul li:last-child {
	border-right: none;
}

#footer li a {
	padding: 10px 20px;
	color: #FFF;
	font-weight: bold;
}

#footer li a:hover {
	opacity: 0.8;
}

#footer .socialicons {
	padding-left: 15px;
}

#footer .socialicons a {
	padding: 0px;
}

#footer .socialicons:first-child {
	margin-left: 15px;
}

#footer .social {
	margin-right: 15px;
	margin-top: -6px;
}

#footer .ohio {
	margin-top: 18px;
}

#footer .campmary {
	margin-top: 24px;
	margin-bottom: 10px;
}

h4.phonenumber {font-weight:normal !important;margin: 5px 0 !important;}

.page-id-17 .gform_wrapper .gfield_label {
display: block !important;
}

.page-id-17 .gform_wrapper .gfield_label {
display: block !important;
font-size: 25px;
color: #00A6FC;
}

#logo img {
	max-height: 115px;
	max-width: 12em;
}

@media screen and (min-width: 768px) {
	.nav-collapse ul li {
		width:auto;
		display:inline-block;
	}
	#nav ul {
		display:flex;
		justify-content:space-between;
	}

	#nav ul li:first-of-type a {
		padding-left:0;
	}

	#nav ul li:last-of-type a {
		padding-right:0;
	}
}

/* responsive styles */
/* tablet landscape */
@media screen and (max-width: 1020px) {


	#left-tree, #right-tree {
		display: none;
	}


	#banner-headline h1 {
		font-size: 2.5em;
	}

	#banner-headline p {
		font-size: 1em;
	}

}
@media screen and (max-width: 768px) {
	#nav ul li a {
		padding-left: 5px;
		padding-right: 5px;
	}
}


/* tablet portrait */
@media screen and (max-width: 720px) {


	#left-tree, #right-tree {
		display: none;
	}

	#clouds .text-left {
		margin-top: 5%;
		margin-bottom: 1%;
		text-align: center;
	}

	#clouds .text-right {
		margin-top: 1%;
		margin-bottom: 5%;
		text-align: center;
	}

	#logo {
		height: 200px !important;
	}

	#banner-headline h1 {
		font-size: 2em;
	}

	#banner-headline p {
		font-size: .57em;
	}

	.blocks li {
		width: 100% !important;
		text-align: center;
	}

	.blocks li .texture-bar {
		width: 100%;
	}

	.blocks li h1 {
		width: 96%;
		padding: 0px 2%;
	}

	.blocks li p.details {
		padding: 15px;
		text-align: left;
	}
	.block-grid.three-up > li {
		margin-left: 0;
	}

	#info {
		float: none;
		width: 95%;
	}

	#rightnav {
		width: 100%;
	}

	#callouts, #map {
		text-align: center;
	}
	#nav ul li a {
		font-size: 20px;
	}
	#nav ul li a img {
		max-width: 40px;
	}

}

@media screen and (max-width: 550px) {
	#nav ul li a {
		font-size: 17px;
	}
}

/* phone */
@media screen and (max-width: 480px) {

	#left-tree, #right-tree {
		display: none;
	}



	#banner-headline h1 {
		font-size: 2.5em;
		line-height: 45px;
	}

	#banner-headline p {
		font-size: .57em;
		display: none;
	}

	#banner-headline a {
		display: none;
	}

	.blocks li {
		width: 100% !important;
	}

.special-reservations {
display: block;
text-indent: -9999999em;
position: absolute;
top: -105px;
height: 151px;
width: 220px;
background: url('/wp-content/themes/zipzone/images/zipzone_badge_final.png') no-repeat;
-webkit-transition: 200ms all linear;
-moz-transition: 200ms all linear;
-ms-transition: 200ms all linear;
-o-transition: 200ms all linear;
transition: 200ms all linear;
}

}

.post { margin-bottom: 0; }
.post .meta.top { margin: -15px 0 5px 0;}
.post .meta {
	color:#999;
}
.post .meta a {
	color: #DDD;
}
.post .meta a:hover {
	color: #FFF;
	text-decoration:underline;
}

iframe {
	max-width:100%;
	width:100%;
}

.vid {
	padding:2.5em;
}

.grid-list {
	margin-bottom:1em;
}

.grid-list__item {
	color:white !important;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	background:#f27727;
	padding-bottom:.5em;
	transition:all 200ms;
}

.grid-list__item:hover {
	background:#fe7e2b;
	text-decoration:none !important;
	transform:translateY(-1px);

	-webkit-box-shadow: 0px 7px 26px 0px rgba(0,0,0,.2);
-moz-box-shadow: 0px 7px 26px 0px rgba(0,0,0,.2);
box-shadow: 0px 7px 26px 0px rgba(0,0,0,.2);
}

.grid-list__item img {
	width:100% !important;
	height:auto !important;
	margin:0 !important;
	box-sizing:border-box;
}

.homerow {
	padding-top:2em;
}

.homerow h1 {
    color: white;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.paging-border { height:4px; }
.paging { padding-top: 1em;}
.paging .next { float:right; }
.paging .prev { float:left; }


.video-container { position:relative; padding:0; margin:0;}
.video-overlay { background:url(images/video-overlay.png) no-repeat center; position:absolute; width: 100%; height:100%; cursor:pointer; }
.video-overlay a { display: block; width:100%; height:100%; }
.video-container img { margin: 0 !important;}

/*videocontent .video-overlay {background:url(images/play.png) no-repeat; background-position: 90% 50%;}*/
.videocontent img { width:298px; height:195px; }


#video-gallery-latest .video-container { margin-right: 15px;}
#video-gallery-latest .video-container img { width:310px; height:232px; }

.video-item { width:300px; float:left;}
.video-item.odd { float:right;}

.video-item .video-container { margin-bottom: 1em;}
.video-item .video-container img {width:300px; height:225px;}

.gallery-item img.texture {margin:5px;}

.gallery .orange img { margin:0 !important;}


.events-discounts h2:first-child {}
.hidden { display:none;}




.gfield.subscribe .gfield_checkbox input { float:left; margin-right:10px; }
.gfield.subscribe .gfield_checkbox label { float:left; font-family: "proxima-nova-alt", sans-serif; font-size: 16px;}
/*
font-family: "proxima-nova-alt", sans-serif;
}
.univers {
	font-family: "prenton-ultra-condensed",sans-serif;
	font-weight: 400 !important;*/

.fb-like-box {
display:none !important;}
