/*-------------------------------------------------------*\
    Landing Page Template Styles
/*-------------------------------------------------------*/

.page-template-template-landing-page {
    .row {
        &.full {
            max-width: 100%;
        }
    }

    #main-container {
        .dark-bg {
            background-color: #383838 !important;
            padding-top: 80px;
            background: url("../img/contentbg.png") repeat-x top left transparent;

            > .row {
                background: url("../img/dark-bg-shape.png") right center no-repeat;
                background-size: auto 55%;
            }
        }

        .invert-bg {
            padding-bottom: 40px;
            background: url("../img/bottom-splitter.png") repeat-x top center white;
            background-size: contain;
            padding-top: 150px;

            h3 {
                font-size: 35px;
                margin-bottom: 35px;
            }

            p {
                color: #404040;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "din-condensed", sans-serif;
            text-transform: uppercase;
        }

        .hero {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            font-family: "din-condensed", sans-serif;
            max-height: 550px;
            min-height: 350px;
            background-size: cover;

            .row {
                @include break-at($medium-break) {
                    position: relative;
                }
            }

            h1, h2, h3, h4, h5, h6 {
                color: white;
                text-transform: uppercase;
                text-shadow: 0 0 5px black;

                // max-width: 471px;
                text-align: center;
                float: left;
                clear: both;
                float: none;
                display: block;
            }

            h1 {
                @include break-at($medium-break) {
                    font-size: 120px;
                }
            }

            h2 {
                @include break-at($medium-break) {
                    font-size: 75px;
                }
            }

            img {
                @include break-at($medium-break) {
                    min-height: 525px;
                }


                opacity: 0 !important;
            }

            .hero-content {
                color: white;
                float: right;
                color: white !important;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: table;
                height: auto;
                align-items: center;
                margin: auto;
                top: 0;
                bottom: 0;
                float: none;
                height: auto !important;

                /* text-align: right; */
                margin: auto auto auto 0 !important;
                right: 0;
                width: auto;
                text-align: right;
                width: 50%;

                // max-width: 450px;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                text-align: center;

                > * {
                    width: 100%;
                    letter-spacing: -2px !important;
                    line-height: 70px;
                    font-weight: lighter;
                    margin: 0.25em auto 0;
                }
            }

            &.secondary-hero {
                @include break-max-at($medium-break) {
                    background-size: contain;
                    min-height: 0;
                    padding-left: 0;
                    padding-right: 0;
                }


                + .row {
                    background: url("../img/dark-bg-shape.png") right center no-repeat;
                    background-size: auto 55%;
                }
            }
        }

        .inner {
            @include break-max-at($medium-break) {
                overflow-x: hidden;
            }


            > div {
                @include break-max-at($medium-break) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            padding-bottom: 0;

            > .row {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            // background-color: #383838 !important;
            // background: url(../img/contentbg.png) repeat-x top left transparent !important;

            h2 {
                font-size: 50px;

                @include break-max-at($medium-break) {
                    font-size: 40px;
                }
            }

            .content-inner {
                > h2 {
                    + p {
                        font-size: 25px;
                    }
                }
            }

            p {
                max-width: 590px;
                line-height: 38px;
                margin-bottom: 2em;
                font-size: 20px;
                font-weight: normal;

                @include break-max-at($medium-break) {
                    padding-right: 2em;
                }
            }

            .button {
                display: inline-block;
                width: auto;
                float: none;
                min-width: none !important;
                width: auto;
                min-width: 0;
                display: inline-block;
                padding: 3px 19px 5px;
                border: none;
                text-transform: none;
                font-family: "dinpro", sans-serif;
                text-decoration: none;
                font-weight: 600;
                font-size: 17px;
                line-height: normal;
                letter-spacing: normal;
            }
        }
    }
}

.small-paragraph {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-top: -15px;

    p {
        font-size: 14px !important;
    }
}