/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/

.skip-link {

    @include show-for-sr;
    &:focus {
        display: block;
    }
}

.show-for-sr {
    @include show-for-sr;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}