/*-------------------------------------------------------*\
    Asides
/*-------------------------------------------------------*/

aside {
    ul {
        li {
            list-style-type: none;
            padding-left: 0;
            &:before {
                display: none;
            }
        }
    }
}
