/*-------------------------------------------------------*\
    Footer
/*-------------------------------------------------------*/

footer {

    ul {
       margin-top: 30px;
        > li {
            &:first-child {
                @include break-at($tiny-break) {
                    // border-left: none !important;
                }
            }
        }
    }
}