/*-------------------------------------------------------*\
    Mobile First Grid
/*-------------------------------------------------------*/


/* Small Grid 
/*-------------------------------------------------------*/

@media only screen {
    @for $i from 1 through $columns {
        .small-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-pull-#{$i} {
            right: column($i);
        }
    }
    .small-centered {
        margin: 0 auto;
    }
}


/* Medium Grid 
/*-------------------------------------------------------*/

@include break-at($medium-break) {
    @for $i from 1 through $columns {
        .medium-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-pull-#{$i} {
            right: column($i);
        }
    }
    .medium-centered {
        margin: 0 auto;
    }
}


/* Large Grid 
/*-------------------------------------------------------*/

@include break-at($large-break) {
    @for $i from 1 through $columns {
        .large-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-pull-#{$i} {
            right: column($i);
        }
    }
    .large-centered {
        margin: 0 auto;
    }
}


/*-------------------------------------------------------*\
    Semantic Grid
/*-------------------------------------------------------*/

$advanced-usage: false !default;
%expand {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

%block {
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
    margin-left: auto;
}

@mixin box-sizing($box) {
    @include prefix(box-sizing, $box, webkit moz spec);
}

@mixin block-center($text-align: false) {
    @if $text-align !=false {
        text-align: $text-align;
    }
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin mobilefix {
    @include respond(all-phones) {
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        &:last-child {
            float: none;
        }
    }
}

@mixin respond($media) {
    @if $media==portrait-phones {
        @media only screen and (max-width: $min-device-width) {
            @content;
        }
    }
    @else if $media==landscape-phones {
        @media only screen and (min-width: breakpoint($min-device-width)) and (max-width: breakpoint($medium-break)) {
            @content;
        }
    }
    @else if $media==all-phones {
        @media only screen and (max-width: breakpoint($medium-break)) {
            @content;
        }
    }
    @else if $media==portrait-tablets {
        @media only screen and (max-width: $medium-break) {
            @content;
        }
    }
    @else if $media==tablets {
        @media only screen and (min-width: $medium-break) and (max-width: $document-width - 1) {
            @content;
        }
    }
    @else if $media==desktop {
        @media only screen and (min-width: $medium-break) {
            @content;
        }
    }
    @else if $media==document-width {
        @media only screen and (max-width: $document-width + 20) {
            @content;
        }
    }
    @else if $media==large-screens {
        @media only screen and (min-width: $grid-width) {
            @content;
        }
    }
    @else if $media==print {
        @media print {
            @content;
        }
    }
    @else {
        @media only screen and ("#{$media}") {
            @content;
        }
    }
}

@mixin row() {
    width: 100%;
    margin: 0 auto;
    @include clearfix;
    max-width: 1000px;
}

// Mixin for rows that are nested within columns
@mixin nestedRow {
    width: auto;
    min-width: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    @extend %clearfix;
}

@mixin col() {
    float: $default-float;
    min-height: 1px;
    position: relative;
    padding: 0 $gutter-width;
}

@mixin row-full() {
    @include nestedRow;
}

@mixin row-block($full: false) {
    @if $full==full {
        @include row-full;
    }
    @else {
        @include row;
    }
    @extend %block;
}

@mixin row-inner($inner-padding: 0) {
    width: 100%;
    margin: 0 auto;
    max-width: $grid-inner-width;
    clear: both;
    @include clearfix;
}

// Mixin for rows that are nested within columns
@mixin nested-row {
    width: auto;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    @include clearfix;
}


/*  Column width
-------------------------------------------------------*/

@mixin columns($columns, $omega: false) {
    float: left;
    width: column($columns);
    @if $omega==omega {
        padding: 0;
        // margin-right: 0;
    }
    @else {
        padding: 0 $gutter-width;
        // margin-right: percentage($gutter-width, $grid-width);
    }
}

// Columns
@mixin col-full($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    float: $default-float;
    min-height: 1px;
    position: relative;
    width: percentage($sm-cols, $columns);
    @include break-at($medium-break) {
        width: percentage($med-cols, $columns);
    }
    @include break-at($large-break) {
        width: percentage($large-cols, $columns);
    }
}

@mixin col($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    @include col-full($large-cols, $med-cols, $sm-cols);
    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

// Placeholders for the Semantic Grid
%clearfix {
    @include clearfix;
}

%mobilefix {
    @include mobilefix;
}

%columnconfig {
    float: $default-float;
    min-height: 1px;
    position: relative;
    padding: 0 $gutter-width;
    @include box-sizing(border-box);
}

%pull-right {
    float: right;
}

%pull-left {
    float: left;
}

%pull-none {
    float: none;
}

%collapse {
    left: 0;
}

// Row placeholders
%row {
    @include row;
}

%nested-row {
    @include row;
}

// Centered Mixin
@mixin block-centered() {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
