/*-------------------------------------------------------*\
    Vintage Grid
/*-------------------------------------------------------*/


/* Mobile First Grid */

.row {
    max-width: $grid-width;
    margin: 0 auto;
    @include clearfix;
    width: 100%;
    padding: 0 20px;
    .row {
        margin-right: -$gutter-width;
        margin-left: -$gutter-width;
        width: auto;
        max-width: none;
        padding: 0;
    }
    &.no-gutter {
        .col {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.full-row {
    @include clearfix;
    width: 100%;
    .row {
        padding: 0;
    }
}

.col {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 $gutter-width;
    &.full-col {
        padding-left: 0;
        padding-right: 0;
    }
    &.end {
        float: right;
    }
    &.static {
        position: static;
    }
}


/* Small Grid */

@media only screen {
    @for $i from 1 through $columns {
        .small-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-pull-#{$i} {
            right: column($i);
        }
    }
    .small-full-col {
        padding-left: 0;
        padding-right: 0;
    }
    .small-centered {
        margin: 0 auto;
        float: none;
    }
    .small-right {
        float: right;
    }
    .small-left {
        float: left;
        &.end {
            float: left;
        }
    }
}


/* Medium Grid */

@include break-at($medium-break) {
    @for $i from 1 through $columns {
        .medium-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-pull-#{$i} {
            right: column($i);
        }
    }
    .medium-full-col {
        padding-left: 0;
        padding-right: 0;
    }
    .medium-centered {
        float: none;
        margin: 0 auto;
    }
    .medium-right {
        float: right;
    }
    .medium-left {
        float: left;
        &.end {
            float: left;
        }
    }
}


/* Large Grid */

@include break-at($large-break) {
    @for $i from 1 through $columns {
        .large-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-pull-#{$i} {
            right: column($i);
        }
    }
    .large-full-col {
        padding-left: 0;
        padding-right: 0;
    }
    .large-centered {
        float: none;
        margin: 0 auto;
    }
    .large-right {
        float: right;
    }
    .large-left {
        float: left;
        &.end {
            float: left;
        }
    }
}


/* Tiny Grid */

@include break-max-at($tiny-break) {
    @for $i from 1 through $columns {
        .tiny-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .tiny-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .tiny-pull-#{$i} {
            right: column($i);
        }
    }
    .tiny-full-col {
        padding-left: 0;
        padding-right: 0;
    }
    .tiny-centered {
        margin: 0 auto;
        float: none;
    }
    .tiny-right {
        float: right;
    }
    .tiny-left {
        float: left;
        &.end {
            float: left;
        }
    }
}
