/*-------------------------------------------------------*\
    Helpers
/*-------------------------------------------------------*/

.u-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    @include row;
}

.push-before {
    >* {
        &:first-child {
            margin-top: $padding-small;
        }
    }
    &.small {
        >* {
            &:last-child {
                margin-top: $pgap;
            }
        }
    }
}

.push-after {
    >* {
        &:last-child {
            margin-bottom: $padding-small;
        }
    }
    &.small {
        >* {
            &:last-child {
                margin-bottom: $pgap;
            }
        }
    }
}

.invisible {
    @include show-for-sr;
}

.jumbo {
    font-size: 160%;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.clear, .clearfix {
    @include clearfix;
}

.disabled-overlay {
    @include hidden-overlay;
}

.transparent {
    opacity: 0;
}

.placeholder {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.hidden-dev {
    position: fixed;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease;
    &.show {
        opacity: .75;
    }
    &.show-all {
        opacity: 1;
    }
}
