/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/

a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    @include break-at($medium-break) {
        @include transition(0.25s, all, ease);
    }
    &:not(.cta), &:not(.button) {
        &:hover {
            @extend .grayscale-inverse;
        }
    }
    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
    &:active {
        color: darken( $primary-color, 10%);
    }
    &:focus {
        color: darken( $primary-color, 10%);
    }
    &.cta {
        &.more-cta {
            @include break-at($medium-break) {
                margin-top: 20px;
            }
        }
        color: inherit;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $primary-color;
        border-bottom: 2px solid;
        padding-bottom: 1.5px;
        font-weight: bold;
        font-size: em(12px);
        @include break-max-at($medium-break) {
            transition: none;
        }
        &:hover {
            border-bottom-color: $secondary-color;
            color: $secondary-color;
            opacity: 1;
        }
    }
    &.secondary {
        color: inherit;
        &:hover {
            border-bottom-color: $primary-color;
        }
    }
    &.tertiary {
        color: $tertiary-color;
        &:hover {
            border-bottom-color: $tertiary-color;
        }
    }
    &[disabled="disabled"] {
        cursor: text !important;
        &:hover {
            color: $primary-color;
            text-decoration: none;
            outline: 0;
        }
    }
    &.inherit {
        color: inherit;
    }
}
