/*-------------------------------------------------------*\
    Lists
/*-------------------------------------------------------*/

nav ul {
    list-style: none;
    li {
        padding-left: 0;
        &:before {
            content: none;
        }
    }
}

ul {
    list-style: none;
    li {
        position: relative;
        padding-left: 25px;
        &:before {
            content: "";
            background: $primary-color;
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 100%;
            position: absolute;
            left: 10px;
            top: 10px;
            // bottom: 0;
            margin: auto;
        }
    }
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: em(10px);
}

ol ul, ul ul {
    padding: em(5px) 0 0 em(15px);
    list-style: circle inside;
}

ul ol, ol ol, {
    padding: em(5px) 0 0 em(15px);
}

li {
    margin-bottom: em(8px);
}