/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/

* {
    // @include prefixer(font-smoothing, antialiased);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    letter-spacing: 4px;
    margin-top: 2px;
    margin-bottom: 8px;
    font-weight: $normal;
    text-transform: uppercase;
    font-family: $sans-serif;
    @include break-max-at($medium-break) {
        letter-spacing: 2px;
    }
    &:not(.ignore-span) {
        span {
            font-weight: $bold;
        }
        em {
            font-style: normal;
            color: $primary-color;
        }
        strong {
            color: $primary-color;
            font-weight: bold;
        }
    }
    +h1, +h2, +h3, +h4, +h5, +h6 {
        margin-top: em(-6px);
    }
    &.light {
        color: white;
    }
    &.dark {
        color: black;
    }
}

h1, .h1 {
    font-size: em(50px);
    @include break-max-at($medium-break) {
        letter-spacing: 1px;
        font-size: em(38px);
    }
}

h2, .h2 {
    font-size: em(30px);
    // @include break-at($medium-break) {
    //     font-size: em(40px);
    // }
}

h3, .h3 {
    font-size: em(20px);
    letter-spacing: 2px;
    // @include break-at($medium-break) {
    //     font-size: em(25px);
    // }
}

h4, .h4 {
    letter-spacing: 1px;
    font-size: em(20px);
}

h5, .h5 {
    letter-spacing: 0px;
    font-size: em(16px);
}

h6, .h6 {
    font-size: em(12px);
    letter-spacing: 0px;
    font-weight: $bold;
    color: $light-text-gray;
    strong {
        color: inherit;
    }
}

p {
    padding-bottom: $pgap;
    margin: 0;
    font-size: em(16px);
    &.featured-paragraph {
        color: inherit;
        @include break-at($medium-break) {
            max-width: 300px;
        }
    }
    &.project-location {
        font-weight: $bold;
        color: #777;
        text-transform: uppercase;
        padding-bottom: 0;
        font-size: em(16px);
    }
    small {
        font-size: em(12px);
        letter-spacing: -0.5px;
        line-height: 1;
    }
}

.small-paragraph {
    font-size: em(13px);
}


hr {
    border: 0;
    height: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

ul, ol {
    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

b, strong, em, small, code {
    // line-height: 1;
}

%sub-super {
    vertical-align: baseline;
    position: relative;
}

sup {
    @extend %sub-super;
    top: -0.4em;
}

sub {
    @extend %sub-super;
    top: 0.4em;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.title-case {
    text-transform: capitalize;
}
