/*-------------------------------------------------------*\
    Video
/*-------------------------------------------------------*/

.media-grid {
    @extend .page-wrapper;
    .video-wrap {
        @include col;
        @extend .page-content;
        text-align: center;
        margin: 0 auto;
        float: none;
        margin-top: -40px;
        width: 100%;
        position: relative;
        img {
            position: absolute;
            padding: 0 10px;
            left: 0;
            top: 0;
        }
        button {
            position: absolute;
            width: 80px;
            height: 80px;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid white;
            color: white;
            font-weight: 700;
            font-size: 0;
            border-radius: 100%;
            @include font-awesome-icon('fa-play');
            &:before {
                font-size: 27px;
                margin-right: -4px;
            }
            @include break-at($medium-break) {
                @include transition(all, .25s, ease);
            }
            &:hover {
                background-color: white;
                color: $secondary-color;
            }
        }
        @include break-at($medium-break) {
            margin-top: 0;
            width: percentage(9, $columns);
        }
        .video-inner {
            width: 100%;
            border: 20px solid white;
            margin: auto;
            height: auto;
            position: relative;
            background-size: cover;
            background-position: center center;
            @include prefixer(box-shadow, 0px 0px 19px 0px rgba(0, 0, 0, 0.2));
            @include transition(all, .25s, ease);
            @include break-at($medium-break) {
                width: 675px;
            }
            >img {
                opacity: 0;
            }
            video {
                opacity: 0;
                display: block;
                vertical-align: baseline;
                width: 100%;
                &::-webkit-media-controls {
                    @include transition(all,.5s);
                    opacity: 0;
                }
                &:hover {
                    &::-webkit-media-controls {
                        opacity: 0.8 !important;
                        @include prefixer(filter, hue-rotate(-30deg) saturate(127%) !important);
                    }
                }
                &.active {
                    opacity: 1;
                    height: 100%;
                }
            }
        }
    }
    + .page-copy-wrapper {
        @extend .textured;
    }
}
