/*-------------------------------------------------------*\
    Import Utility Styles
/*-------------------------------------------------------*/

.mini {
    textarea {
        max-height: 80px;
    }
}

.acf-hide {
    display: none !important;
}

.acf-show {
    display: block !important;
}

body {
    &:not(.admin-home) {
        [data-layout="flexible_banner_split_equal_content_img_last"] {
            @extend .acf-hide;
        }
    }
    &.admin-home {
        [data-layout="flexible_banner_split_equal_content_img_last"] {
            @extend .acf-show;
        }
        [data-name="generic_content_repeater"] {
            @extend .acf-hide;
        }
    }
    &:not(.post-type-page) {
        [data-name="generic_content_repeater"] {
            @extend .acf-hide;
        }
    }
    &.post-type-page {
        [data-name="multi_step_repeater_header"] {
            @extend .acf-show;
        }
    }
}
