// .hero {
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: top center;
//     position: relative;
//     font-family: "din-condensed", sans-serif;
// }

// .hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
//     font-family: "din-condensed", sans-serif;
//     text-transform: uppercase;
// }

// .hero img {
//     opacity: 0 !important;
// }

// .hero-content {
//     color: white;
//     float: right;
//     color: white !important;
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     display: flex;
//     align-items: center;
// }

// .hero-content h1 {
//     color: white;
//     color: inherit;
//     text-transform: uppercase;
//     letter-spacing: -1px !important;
//     text-shadow: 0 0 5px black;
//     max-width: 471px;
//     line-height: 70px;
//     text-align: center;
//     float: left;
//     clear: both;
//     float: none;
//     display: block;
// }